body {
    font-family: 'Arial', sans-serif;
    background-color: #0a192f;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
}

header {
    margin-bottom: 30px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    border: 3px solid white; /* Borde blanco al estilo Instagram */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave para destacar la imagen */
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button {
    display: block;
    margin: 10px auto;
    padding: 15px 30px;
    background-color: #ffffff;
    color: #0a192f;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
    font-size: 1.1em;
    transition: transform 0.2s;
    max-width: 300px;
}

.link-button:hover {
    transform: scale(1.05);
}
footer {
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 20px;
    margin-top: 30px; /* O ajusta según tus necesidades */
}

.heart {
    display: inline-block;
    animation: pulse 1s infinite ease-in-out;
    color: red; /* O el color que prefieras para el corazón */
}

/* Animación de pulso para el corazón */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } /* Cambia ligeramente para un efecto de 'pulsación' moderado */
    100% { transform: scale(1); }
}